<%- include('../partials/header'); %>

<%- include('../partials/nav'); %>

<!-- Active Surveys Section -->
<main>
    <table class="active-surveys">
        <thead>
            <tr>
                <th>Author</th>
                <th>Survey Name</th>
                <th>Start Date</th>
                <th>Closing Date</th>
                <th>View Questions</th>
                <th><button class="survey-button"><i class="fa-solid fa-plus"></i> Add</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Just a placeholder</td>
                <td>Survey 1 Description</td>
                <td>12/12/2022</td>
                <td>12/12/2023</td>
                <td><a class="survey-button" href="/survey/1">View</a></td>
                <td>
                    <button class="survey-button"><i class="fa-solid fa-pencil"></i></button>
                    <button class="survey-button"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<%- include('../partials/footer'); %>

<%- include('../partials/bottom'); %>
