<%- include('../partials/header'); %>

<%- include('../partials/nav'); %>

<!-- Create Survey Section -->
<main>
    <div class="create-survey">
        <h3 class="survey-titles">
            Create a new survey
        </h3>
        <div class="survey-options">
            <label class="survey-titles" for="name">NAME:</label>
            <input id="name" class="surveyInput" type="text">

            <label class="survey-titles" for="surveyname">SURVEY NAME:</label>
            <input id="surveyname" class="surveyInput" type="text"  />

            <label class="survey-titles" for="startdate">START DATE:</label>
            <input id="startdate" class="surveyInput" type="text"  />

            <label class="survey-titles" for="closingdate">CLOSING DATE:</label>
            <input id="closingdate" class="surveyInput" type="text"  />

            <a href="/" class="nav-item nav-item-btn" >LOGIN</a></li>

        </div>
    </div>
</main>


<%- include('../partials/footer'); %>

<%- include('../partials/bottom'); %>
