<%- include('partials/header'); %>

<%- include('partials/nav'); %>

<!-- About Section -->
<div class="flipcards">
    <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="/assets/images/Vision.svg" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <img src="/assets/images/Backtext.svg" alt="s" style="width:300px;height:300px;">
        </div>
        </div>
    </div>
    <br><br><br>
    <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="/assets/images/Mission.svg" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <img src="/assets/images/Backtext.svg" alt="s" style="width:300px;height:300px;">
        </div>
        </div>
    </div>
    <br><br><br>
    <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="/assets/images/Goal.svg" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <img src="/assets/images/Backtext.svg" alt="s" style="width:300px;height:300px;">
        </div>
        </div>
    </div>
</div>
</body>
</html>

<%- include('partials/footer'); %>

<%- include('partials/bottom'); %>
