<%- include('partials/header'); %>

<%- include('partials/nav'); %>

<main>
    <div class="home-container">
    <div class="home-content">
       <img src="/assets/images/video game console.png" width="380">
       <li><a href="#" id="home-survey-button" class="nav-item nav-item-btn">Create Survey</a></li>
    </div>
    <div>
      <h3>Create a survey in 3 simple steps:</h3>
      <ol>
          <li>Login</li>
          <li>Create Survey</li>
          <li>View Final Results</li>
      </ol>
    </div>
    </div>
</main>


<%- include('partials/footer'); %>

<%- include('partials/bottom'); %>
