<!-- TO DO
make questions from take-survey.ts pass into a form on this .html -->
<!-- Create Survey Section -->


<main>
  <form [formGroup]="surveyForm">
    <div class="take-survey">
      <h3 class="survey-title">Take the survey</h3>
      <h3 formControlName="surveyName">Take the survey</h3>
      <h3 style="font-size: 1.7rem; position: relative; top: 10rem">
        Questions
      </h3>

      <div class="survey-options">
        <div class="survey-options" *ngFor="let question of Survey.questions; index as i">

          <label class="survey-questions" for="question{{i}}">{{ question }} </label>
          <input class="survey-questions" name="answer{{i}}" formControlName="answer{{i}}" type="text"/>
        </div>
      </div>

      <button class="submit" type="submit">Submit</button>
      <a href="/active-surveys" class="cancel">Cancel</a>


    </div>
  </form>
</main>
