<p>take-survey works!</p>
<!-- TO DO
make questions from take-survey.ts pass into a form on this .html -->
<!-- Create Survey Section -->


<main>
  <form [formGroup]="surveyForm">
    <div class="take-survey">
      <h3 class="survey-title">Edit your survey</h3>

      <h3 style="font-size: 1.7rem; position: relative; top: 10rem">
        Questions
      </h3>

      <div class="take-survey">
        <div class="take-survey" *ngFor="let questions of Survey.question; index as i">
          <label>{{ Survey.question[i] }} </label>

        </div>
        <label for="questions" value="question"></label>
        <input name="questions" formControllerName="questions" type="text"/>
      </div>

      <button class="submit" type="submit">Submit</button>
      <a href="/active-surveys" class="cancel">Cancel</a>


    </div>
  </form>
</main>
<script>
  window.onload = function(){
    let questions = document.getElementsByClassName("input1");
    for (let i = 0; i < questions.length; i++){
      console.log(questions.value);
      console.log("some string");
    }
  }
</script>
