
<main>
  <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
    <div class="take-survey">
      <h1 class="survey-name">{{ surveyName }}</h1>
      <h3 style="font-size: 1.7rem; position: relative;">
        Questions
      </h3>

      <div class="survey-questions" style="top: 1rem;" *ngFor="let question of Survey; index as i">
          <h4 id="question{{i}}">Q {{i+1}})  {{ question }} </h4>
          <input name="answer{{i}}" formControlName="answer{{i}}" type="text"/>
      </div>

      <button class="submit" type="submit">Submit</button>
      <a href="/active-surveys" class="cancel">Cancel</a>


    </div>
  </form>
</main>
