<!-- View Stats Section -->
<main>
  <table class="view-stats">
    <thead>
    <tr>
      <th>Participant #</th>
      <th>Answer 1</th>
      <th>Answer 2</th>
      <th>Answer 3</th>
      <th>Answer 4</th>
      <th>Answer 5</th>

    </tr>
    </thead>

    <tbody>
    <tr>
      <td>{{answers.length}}</td>
      <td>{{count_true[0]}} Chose True</td>
      <td>{{count_true[1]}} Chose True</td>
      <td>{{count_true[2]}} Chose True</td>
      <td>{{count_true[3]}} Chose True</td>
      <td>{{count_true[4]}} Chose True</td>
    </tr>
    </tbody>
  </table>
</main>
